$white: #fff;
$light-blue: #2cabe3;
$zhihu-blue: #0f88eb;
$foton-blue: #0066CC;
$black-2f323e: #2f323e;
$black-313131: #313131;
$gray-97999f: #97999f;
$red-ff7676: #ff7676;


$default-font-size: 13px;
$default-font-family: Microsoft Yahei,Hiragino Sans GB,宋体,Tahoma,Verdana,sans-serif,simsun,Arial;
$default-font-color: $black-313131;

$body-bg-color: $white;

$h1-font-color: $default-font-color;
$h1-font-size: 32px;

$h2-font-color: $default-font-color;
$h2-font-size: 28px;

$h3-font-color: $default-font-color;
$h3-font-size: 24px;

$h4-font-color: $default-font-color;
$h4-font-size: 18px;